
      <nav>
          <div class="nav-wrapper #388e3c green darken-2" >
              <a href="#!" class="brand-logo">Peliculas</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href=""><i class="material-icons left">home</i>Inicio</a></li>
                <li><a href=""><i class="material-icons right">local_grocery_store</i>Compras</a></li>
              </ul>

              <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            
          </div>
     </nav>

     <div class="fixed-action-btn">
                  <a class="btn-floating btn-large red">
                    <i class="large material-icons">mode_edit</i>
                  </a>
                  <ul>
                    
                    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                  </ul>
      </div> 

      <div class="row">



      <div class="col s12 m4 l4" style="margin-top:20px;"> <!-- Note that "m4 l3" was added -->

              <h4>Estrenos 2017</h4><br>
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="assets/imagenes/imagen2.jpg" alt="" class="circle">
                  <span class="title">VIERNES 13: REINICIO</span>
                  <p>FECHA LANZAMIENTO: 13 DE ENERO<br>
                   TRAILER
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle">folder</i>
                  <span class="title">LA BELLA Y LA BESTIA</span>
                  <p>FECHA LANZAMIENTO: 17 DE MARZO<br>
                    TRAILER
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle green">insert_chart</i>
                  <span class="title">GUARDIANES DE LA GALAXIA II</span>
                  <p>FECHA LANZAMIENTO: 5 DE MAYO<br>
                   TRAILER
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                  <i class="material-icons circle red">play_arrow</i>
                  <span class="title">PIRATAS DEL CARIBE: DEAD MEN TELLS NO TALES</span>
                  <p>FECHA LANZAMIENTO: 26 DE MAYO<br>
                    TRAILER
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
              </ul>
            

            
              <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul><br><br><br>



              <a   (click)="mostrarCompras()"
                    class="waves-effect waves-light btn">Ver Compras</a>
            
   
                
      </div>

      <div class="col s12 m8 l4"> <!-- Note that "m8 l9" was added -->

          <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="assets/imagenes/imagen1.jpg">
                <span class="card-title">Pelicula Del Mes</span>
              </div>
              <div class="card-content">
                <p>Teniendo en cuenta que la tercera entrega de la franquicia más rentable de la factoría Marvel vendrá separada en dos largometrajes, no nos cabe ninguna duda de que Los Vengadores 3 marcará un punto de inflexión importante en la trayectoria cinematográfica de la editora de cómics ahora reconvertida en fábrica de películas ultra taquilleras. El 4 de mayo de 2018 llegará a los cines la primera de las dos entregas de Los Vengadores: Infinity War.</p>
              </div>
              <div class="card-action">
                <a href="#">Detalles</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 ">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Noticias</span>
                <p>Uno de los platos fuertes del otoño de 2017 será la primera entrega La Liga de la Justicia.
                   Tras el esperable éxito de Batman V Superman y Wonder Woman, que se estrenará también en 2017,
                   la Justice League llegará el 17 de noviembre de 2017</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
           



      
    </div>

    <div class="col s12 m8 l4"> <!-- Note that "m8 l9" was added -->
      <Alq-alquiler-peliculas>
      </Alq-alquiler-peliculas>
    </div>

   
  </div>

  <div id="modal_Compras" class="modal bottom-sheet">
    <div class="modal-content">
            <h4>Ver Compras</h4>
            <ul class="collection">
              <li *ngFor="let alquiler of comprasList"
                  class="collection-item avatar">
                <i class="material-icons circle green">assessment</i>
                <span class="title">{{alquiler.nombre}}</span>
                <p>{{alquiler.genero}} <br>
                   {{alquiler.fecha}}nombre
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              </li>
            </ul>
          </div>
  </div>

  <footer class="page-footer #000000 black" >
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
  </footer>