
  <nav>
    
    <div class="nav-wrapper " >
      <a href="#!" class="brand-logo">Tienda Alquiler De Peliculas</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="badges.html">Inicio</a></li>
        <li><a href="collapsible.html">Listado de Compras</a></li>
      </ul>
      
    </div>
  </nav>

<div class="row">

      <div class="col s12 m4 l4" style="margin-top:20px;"> <!-- Note that "m4 l3" was added -->
            
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  
                  <div class="collapsible-header"><i class="material-icons search"></i>First</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons search"></i>Second</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons"></i>Third</div>
                  <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
              </ul>
      </div>

      <div class="col s12 m8 l4"> <!-- Note that "m8 l9" was added -->

          <div class="row">
          <div class="col s12 ">
            <div class="card">
              <div class="card-image">
                <img src="assets/imagenes/imagen1.jpg">
                <span class="card-title">Pelicula Del Mes</span>
              </div>
              <div class="card-content">
                <p>Teniendo en cuenta que la tercera entrega de la franquicia más rentable de la factoría Marvel vendrá separada en dos largometrajes, no nos cabe ninguna duda de que Los Vengadores 3 marcará un punto de inflexión importante en la trayectoria cinematográfica de la editora de cómics ahora reconvertida en fábrica de películas ultra taquilleras. El 4 de mayo de 2018 llegará a los cines la primera de las dos entregas de Los Vengadores: Infinity War.</p>
              </div>
              <div class="card-action">
                <a href="#">Detalles</a>
              </div>
            </div>
          </div>
        </div>
      
    </div>

    <div class="col s12 m8 l4"> <!-- Note that "m8 l9" was added -->
      <Alq-alquiler-peliculas>
      </Alq-alquiler-peliculas>
    </div>

   
  </div>

  <footer class="page-footer" >
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
  </footer>